<form action="/contacts/edit" method="post">
	<div class="form-group">
		<input name="id" type="hidden" value="<%= @contact.id %>">
			<input type="text" name="first_name" value="<%= @contact.first_name %>" placeholder="First Name">
	</div>
	<br>
	
 <div class="form-group">
	  <input type="text" name="last_name" value="<%= @contact.last_name %>" placeholder="Last Name">
 </div>
 <br>
 
 <div class="form-group">
	 <input type="text" name="phone" value="<%= @contact.phone %>" placeholder="Phone">
	</div>
	<br>
	
	<div class="form-group">
	 <input type="text" name="email" value="<%= @contact.email %>" placeholder="Email">
	</div>
	<br>
	 
	<div class="form-group">
	 <input type="text" name="address" value="<%= @contact.address %>" placeholder="Address">
	</div>
	<br>
	 
	<div class="form-group">
	 <input type="text" name="city" value="<%= @contact.city %>" placeholder="City">
	</div>
	<br>
	 
	<div class="form-group">
	 <input type="text" name="state" value="<%= @contact.state %>" placeholder="State">
	</div>
	<br>
	 
	<div class="form-group">
	 <input type="text" name="zip" value="<%= @contact.zip %>" placeholder="Zip">	
	</div>
	<br>
	 
	 
		<input type="submit" value="save">
		
		
		
</form>