<h2>Contacts</h2>
<a href="/contacts/new">New</a>
<form action="/search" method="get">
	<input type="text" name="query" placeholder ="search">
	<input type="submit" value="search">
</form>
<% @contacts.each do |contact| %>
	<div class="contact">
		<a href="/contacts/edit?id=<%= contact.id %>">Update</a>
		<a href="/contacts/delete?id=<%= contact.id %>">Delete</a>
			<%= contact.first_name %>
			<%= contact.last_name %>
			<%= contact.email %>
			<%= contact.phone %>
			<%= contact.address %>
			<%= contact.city %>
			<%= contact.state %>
			<%= contact.zip %>
			</div>
			
	</div>
		
<% end %>